<div class="modal-header">
    <h3>Create A New Standing</h3>
</div>
<form name="form.standingForm" ng-submit="submitForm(standing)" novalidate>
    <div class="modal-body">

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="standing.name" placeholder="Name">
        </div>

        <div class="form-group">
            <label>Class</label>
            <select class="form-control" id="class" ng-model="standing.class">
                <option value="Assassin">Assassin</option>
                <option value="Blade Dancer">Blade Dancer</option>
                <option value="Blade Master">Blade Master</option>
                <option value="Destroyer">Destroyer</option>
                <option value="Force Master">Force Master</option>
                <option value="Kung Fu Master">Kung Fu Master</option>
                <option value="Summoner">Summoner</option>
            </select>
        </div>

        <div class="form-group">
            <label>Points</label>
            <input type="text" class="form-control" ng-model="standing.points" placeholder="Points" />
        </div>

        <div class="form-group">
            <label>Profile</label>
            <input type="text" class="form-control" ng-model="standing.profile" placeholder="Profile" />
        </div>

        <label>Region:</label>
        <select class="form-control" ng-model="standing.region">
            <option value="na">North America</option>
            <option value="eu">Europe</option>
        </select>

        <label>Month:</label>
        <select class="form-control" ng-model="standing.month">
            <option value="january">January</option>
            <option value="february">February</option>
            <option value="march">March</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="august">August</option>
            <option value="september">September</option>
            <option value="october">October</option>
            <option value="november">November</option>
            <option value="december">December</option>
        </select>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.standings.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>