<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="nav.standings">Standings</a></li>
                <li><a ui-sref="nav.tournaments">Tournaments</a></li>
                <li><a ui-sref="nav.infos">User infos</a></li>
                <li><a ui-sref="nav.guides">User guides</a></li>
            </ul>
        </div>
    </div>
</nav>
<div ui-view></div>