<div class="container" ng-controller="AddStandingController">
    <div class="row">
        <button ng-click="showForm()" class="btn btn-default">Add a new standing</button>
    </div>
</div>

<div ng-controller="StandingsController">
    <div class="container">
        <div class="row">
            <form class="span4">
                <div class="form-group">
                    <label for="sel1">Region:</label>
                    <select class="form-control" id="sel1" ng-model="standings.region">
                        <option value="na">North America</option>
                        <option value="eu">Europe</option>
                    </select>

                    <label for="sel1">Month:</label>
                    <select class="form-control" id="sel2" ng-model="standings.month">
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                        <option value="april">April</option>
                        <option value="may">May</option>
                        <option value="june">June</option>
                        <option value="july">July</option>
                        <option value="august">August</option>
                        <option value="september">September</option>
                        <option value="october">October</option>
                        <option value="november">November</option>
                        <option value="december">December</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-default loginBtn" ng-click="handleStandingsBtnClick(standings)" value="Show">
            </form>
        </div>
    </div>
    <div class="container">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Points</th>
                <th>Profile</th>
                <th>Region</th>
            </tr>
            </thead>

            <tbody ng-repeat="ranking in rankings">
            <tr>
                <td><span editable-text="ranking.name" onbeforesave="editStandingName($data, ranking.id)">{{ranking.name}}</span></td>
                <td><span editable-select="ranking.class" e-ng-options="c.value as c.text for c in classes" onbeforesave="editStandingClass($data, ranking.id)">{{ranking.class}}</span></td>
                <td><span editable-text="ranking.points" onbeforesave="editStandingPoints($data, ranking.id)">{{ranking.points}}</span></td>
                <td><span editable-text="ranking.profile" onbeforesave="editStandingProfile($data, ranking.id)">{{ranking.profile}}</span></td>
                <td><span editable-select="ranking.region" e-ng-options="r.value as r.text for r in regions" onbeforesave="editStandingRegion($data, ranking.id)">{{ranking.region}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
