<div class="container" ng-controller="AddUserGuideController">
    <div class="row">
        <button ng-click="showForm()" class="btn btn-default">Add a new guide</button>
    </div>
</div>

<h2>
    The title of the guide is the blue box before entering the guide <br>
    The description is a short text before each guide <br>
    The video should be an iframe (ex : < iframe width="560" height="315" src="https://www.youtube.com/embed/e4p8ewFhvWo" frameborder="0" allowfullscreen>< /iframe>)
    <br>You can add a video or an iframe or both
</h2>

<div ng-controller="UserGuidesController">
    <div class="container">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Guide ID</th>
                <th>Class</th>
                <th>Title</th>
                <th>Description</th>
                <th>Video</th>
                <th>Iframe (BnS tree)</th>
                <th>Delete</th>
            </tr>
            </thead>

            <tbody ng-repeat="guide in guides">
            <tr>
                <td>
                    <span>{{guide.id}}</span>
                </td>
                <td>
                    <span editable-select="guide.class" e-ng-options="c.value as c.text for c in classes" onbeforesave="editGuideClass($data, guide.id)">
                        {{guide.class || 'no title'}}
                    </span>
                </td>
                <td>
                    <span editable-text="guide.title" onbeforesave="editGuideTitle($data, guide.id)">
                        {{guide.title || 'no title'}}
                    </span>
                </td>
                <td>
                    <span editable-textarea="guide.description" onbeforesave="editGuideDescription($data, guide.id)">
                        <pre>{{guide.description || 'no description'}}</pre>
                    </span>
                </td>
                <td>
                    <span editable-textarea="guide.video" onbeforesave="editGuideVideo($data, guide.id)">
                        <pre>{{guide.video || 'no description'}}</pre>
                    </span>
                </td>
                <td>
                    <span editable-textarea="guide.iframe" onbeforesave="editGuideIframe($data, guide.id)">
                        <pre>{{guide.iframe || 'no description'}}</pre>
                    </span>
                </td>
                <td>
                    <button ng-click="deleteGuide(guide.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
